/* main page css */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 84vh;
  padding-top: 20px;
}

.info {
  display: flex;
  height: 70vh;
  width: 100%;
}

.mapContainer {
  width: 70%;
  height: 100%;
}

@media (max-width: 767px) {
  .main {
    min-height: 76vh;
    }
  .info {
    flex-direction: column;
    width: 100vw;
  }
  .mapContainer {
    width: 100%;
  }
}
