/* main page css */
/* this can possibly be moved to the layout or global and passed down to clean up file structure */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 84vh;
}

@media (max-width: 767px) {
  .main {
    min-height: 76vh;
  }
}
