/* main page css */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 84vh;
}

@media (max-width: 767px) {
  .main {
    min-height: 76vh;
  }
}
.image {
  z-index: -1;
  filter: brightness(40%) sepia(1);
}
